
<hr />

<div class="control-group">
    <div class="controls">

        <h2 class="text-success">Emails</h2>

    </div>
</div>
<div id="ID_EMAIL_BLOCO_PRINCIPAL">

    {{ form_row(form.emails.vars.prototype.email, {'attr' : {'class' : 'ID_EMAIL_INPUT_EMAIL'}}) }}

    {{ form_row(form.emails.vars.prototype.id, {'attr' : {'class' : 'ID_EMAIL_INPUT_ID'}}) }}



    <div class="control-group">
        <div class="controls">
            <button class="btn btn-danger ID_EMAIL_REMOVE" style="display:none">
                <i class="halflings-icon white remove-sign"></i>
            </button>
        </div>
    </div>

    <div class="clearfix"></div>
</div>

<div class="control-group">
    <div class="controls">
        <button id="ID_EMAIL_ADD" class="btn btn-success">
            <i class="halflings-icon white plus-sign"></i>
        </button>
    </div>
</div>

<script>
    {% if emails is defined and  emails|length > 0 %}
        {% for email in emails %}
            EmailController.addEmail('{{ email.id }}', '{{ email.email }}');
        {% endfor %}
            EmailController.loadEmails();
    {% endif %}
</script>