{{ form_row(form.municipio.nome, {'attr' : {'vtt-model' : 'ID_MUNICIPIO_NOME'}}) }}


<div class="control-group">
    <div class="controls">
        <autocomplete-municipio></autocomplete-municipio>
    </div>
</div>

{{ form_row(form.municipio.sigla, {'attr' : {'vtt-model' : 'ID_MUNICIPIO_SIGLA'}}) }}
{{ form_row(form.municipio.id, {'attr' : {'vtt-model' : 'ID_MUNICIPIO_ID'}}) }}

<div class="control-group">
    <div class="controls">
        <button type="button" onclick="MunicipioController.reset();">Limpar Municipio</button>
    </div>
</div>


