{% form_theme form 'VTTTemplatesJanuxBundle:extras:form.field.html.twig' %}


{% if ata is defined and ata|length > 0 %}
    {% set telefones = ata.telefones %}
    {% set emails = ata.emails %}
{% endif %}


<form class="form-horizontal" name="form_ata">
    <fieldset>

        {{ form_row(form.nome) }}

        {% include('AtaAppAtaBundle:extras:municipio.form.twig') %}

        {% include('AtaAppAtaBundle:extras:telefone.form.twig') %}

        {% include('AtaAppAtaBundle:extras:email.form.twig') %}

        {{ form_row(form.id) }}

        <div class="form-actions">
            <button type="button" onclick="AtaController.save(event, $(this).closest('form'));" class="btn btn-primary">Salvar</button>
            <button type="button" onclick="AtaController.resetForm(event);" class="btn">Limpar</button>
        </div>
    </fieldset>
</form>

