{% extends "AtaAppAtaBundle::layout.html.twig" %}


{% block body  %}   
    <div class="span3 statbox purple" onTablet="span6" onDesktop="span3">
        <div class="number">{{ totalRegistros }} <i class="icon-arrow-up"></i></div>
        <div class="title">Pessoas cadastradas</div>
        <div class="footer">
            <a href="{{ path('ata_add') }}">Novo</a>
        </div>	
    </div>


    <div class="span3 statbox purple" onTablet="span6" onDesktop="span3">
        <div class="number"> <i class="icon-paper-clip"></i></div>
        <div class="title">Relatório</div>
        <div class="footer">
            <a href="{{ path('ata_exportacao') }}">exportar dados</a>
        </div>	
    </div>


{% endblock %}


{% block javascriptLocal %}
    {{ parent() }}


{% endblock %}
