{% extends "AtaAppAtaBundle::layout.html.twig" %}


{% block body  %}   
    <div class="span3 statbox purple" onTablet="span6" onDesktop="span3">
        <div class="number">{{ atas|length }} <i class="icon-arrow-up"></i></div>
        <div class="title">Pessoas cadastradas</div>
        <div class="footer">
            <a href=""> gerenciar</a>
        </div>	
    </div>
{% endblock %}